/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 13px;
}

.navbar
{
    margin-bottom: 20px;
}

.home-banner {
    height: 100px;
}

.home-view > .top-brands, .home-banner
{
    margin-bottom: 20px;
}

.navbar .nav > li > p {
    float: none;
    padding: 10px 5px 0px;
}

.recaptcha {
    margin-left: 100px;
}

.license-agreement {
    margin: 0 20px 0 100px;
}

.register-header {
    margin-right: 50px;
    margin-left: 50px;
}

.register-adds {
    padding-top: 30px;
    padding-left: 20px;
}

.register-add {
    margin-bottom: 40px;
}

.thumbnail-label {
    margin-top: 10px;
}

.social-networking {
    margin-left: 60px;
}
